#header{
    color:white;
    background-color:cornflowerblue;
    text-align: center;
    border: none;
    margin: 0 auto;
}

.card{
    margin: 20px auto;
    width: 90%;
    border: 1px solid cornflowerblue;
}
.card-header{
    color: white;
    background-color: cornflowerblue;
}

.row{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
hr{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
body {
    background-image: url(../assets/images/spring.png)
  }
.jumbotron {
    margin-bottom: 0px;
    background-image: url(../assets/images/Screen\ Shot\ 2018-12-11\ at\ 12.53.33\ PM.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }
i